.boardRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table {
  table-layout: fixed;
  width: 1500px;
  height: 500px;
}

.table td {
  table-layout: fixed;
  text-align: center;
}
